.App {
  padding: 0.5rem 2rem;
}

img {
  width: 100%;
  object-fit: contain;
}

.mid-wrapper {
  display: grid;
  grid-template-columns: 3fr 25fr 3fr;
  min-height: calc(100vh - 9vw);
  gap: 2rem;
}

.wallet-adapter-button {
  font-family: "Karla", sans-serif !important;
}

.wallet-adapter-modal-title {
  font-size: large !important;
}

.wallet-adapter-button-trigger {
  font-family: "Press Start 2P", sans-serif !important;
  margin-left: auto;
  line-height: 150% !important;
  font-size: clamp(10px, 0.8vw, 12px) !important;
  height: 100% !important;
  padding: 15px 20px !important;
  white-space: nowrap !important;
}

.wallet-adapter-dropdown {
  margin-left: auto;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  align-items: center;
}

.decor-top-left {
  display: grid;
  gap: 1rem;
  grid-template-columns: 4fr 2fr 1fr 6fr;
}

.decor-top-left > div > img {
  width: 100%;
}

.first,
.second {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: space-between !important;
  gap: 10px;
}

.third {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.fourth {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transform: rotate(180deg);
  gap: 10px;
}

.fourth > img {
  width: 12% !important;
}

.header {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.decor-bottom-left {
  display: flex;
  align-items: flex-end;
}

.meter-slider {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.decor-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decor-top-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

.dots {
  width: 65%;
  margin: auto;
}

.logo {
  transition: transform 0.2s ease-in;
}

.logo:hover {
  transform: scale(1.1);
}

.intro {
  padding-top: 2.5rem;
  margin: 0;
}

.top-right-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
